# Configuração de projeto Supabase
SUPABASE_URL=https://vijblslfmkypzivklcla.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpamJsc2xmbWt5cHppdmtsY2xhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyODc0NDIsImV4cCI6MjEwMjg2MzQ0Mn0._2sPyR62ze_WoQhBnQ9HjefVPcmZZDjaOY6k6fIYrtY

# Local de Desenvolvimento
APP_ORIGIN=http://localhost:4173
